Repository BrodyMacfarlane/roommates-webapp: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

init
  backend/package.json
Due: none

init
  .lintstagedrc.json
  frontend/.eslintrc.json
  frontend/.gitignore
  frontend/.prettierignore
  frontend/.prettierrc
  frontend/README.md
  frontend/next.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.js
  frontend/public/next.svg
  frontend/public/vercel.svg
  frontend/src/app/favicon.ico
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/tailwind.config.ts
  frontend/tsconfig.json
Due: prettier --write, eslint

fix shadcn dialog bug
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ui/sheet.tsx
Due: prettier --write, eslint

add vercel config
  backend/vercel.json
Due: none

versioning issue
  frontend/src/app/globals.css
  frontend/src/components/forms/LoginForm.tsx
  frontend/src/components/nav/NavLinks.tsx
  frontend/src/components/ui/sheet.tsx
  frontend/src/data/navigation.json
Due: prettier --write, eslint

change nav and small padding improvements
  frontend/package-lock.json
  frontend/src/app/globals.css
  frontend/src/app/login/page.tsx
  frontend/src/app/tools/contribution-calc/page.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/components/content/HeroBackground.tsx
  frontend/src/components/forms/LoginForm.tsx
  frontend/src/components/nav/NavLinks.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/navigation-menu.tsx
  frontend/src/data/navigation.json
  frontend/tailwind.config.ts
Due: prettier --write, eslint

add base pages, and signup page with basic validation
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/about/page.tsx
  frontend/src/app/contact/page.tsx
  frontend/src/app/signup/page.tsx
  frontend/src/components/forms/SignupForm.tsx
  frontend/src/util/validation.ts
Due: prettier --write, eslint

add simple request to configure cors
  backend/app/Controllers/Http/UsersController.ts
  backend/config/cors.ts
  backend/start/routes.ts
  backend/vercel.json
  frontend/.env.development
  frontend/.env.production
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/forms/SignupForm.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/util/api.ts
Due: prettier --write, eslint

fix env
  backend/package.json
Due: none

update package.json for DigitalOcean
  backend/package.json
Due: none

update cors config
  backend/config/cors.ts
Due: prettier --write, eslint

add pm2 and git action for deployment
  .github/workflows/deploy-action.yml
  ecosystem.config.js
Due: none

fix dir
  ecosystem.config.js
Due: none

key
  ecosystem.config.js
Due: none

remove bs
  ecosystem.config.js
Due: none

fix
  ecosystem.config.js
Due: none

connect front to backend create account and auth
  backend/.adonisrc.json
  backend/.env.example
  backend/ace-manifest.json
  backend/app/Controllers/Http/UsersController.ts
  backend/app/Middleware/Auth.ts
  backend/app/Middleware/SilentAuth.ts
  backend/app/Models/User.ts
  backend/app/Validators/CreateUserValidator.ts
  backend/config/auth.ts
  backend/config/database.ts
  backend/config/session.ts
  backend/contracts/auth.ts
  backend/database/factories/index.ts
  backend/database/migrations/1698375435676_users.ts
  backend/env.ts
  backend/package-lock.json
  backend/package.json
  backend/start/kernel.ts
  backend/tsconfig.json
  frontend/src/app/globals.css
  frontend/src/app/tools/geo-fence/page.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/components/content/HeroBackground.tsx
  frontend/src/components/content/LargeForm.tsx
  frontend/src/components/forms/FormError.tsx
  frontend/src/components/forms/LoginForm.tsx
  frontend/src/components/forms/SignupForm.tsx
  frontend/src/components/nav/NavLinks.tsx
  frontend/src/data/navigation.json
Due: prettier --write, eslint

add auth and user migration
  backend/.adonisrc.json
  backend/app/Controllers/Http/UsersController.ts
  backend/app/Middleware/Auth.ts
  backend/app/Validators/CreateUserValidator.ts
  backend/config/database.ts
  backend/start/kernel.ts
  backend/tsconfig.json
Due: prettier --write, eslint

small db change
  backend/config/database.ts
Due: prettier --write, eslint

user signup complete
  backend/config/database.ts
  frontend/src/components/forms/SignupForm.tsx
Due: prettier --write, eslint

login functionality
  backend/app/Exceptions/Handler.ts
  backend/start/routes.ts
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/tasks/page.tsx
  frontend/src/components/forms/LoginForm.tsx
  frontend/src/components/forms/SignupForm.tsx
  frontend/src/components/nav/NavLinks.tsx
  frontend/src/data/navigation.json
Due: prettier --write, eslint

add main transition animation
  frontend/src/app/globals.css
  frontend/tailwind.config.js
Due: prettier --write

fix husky hook
  .husky/pre-commit
Due: none

begin geofence game development
  backend/app/Exceptions/Handler.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/client-pages/GeoFence.tsx
  frontend/src/app/globals.css
  frontend/src/app/tools/geo-fence/page.tsx
  frontend/src/components/forms/SignupForm.tsx
  frontend/src/hooks/use-cookie.tsx
  frontend/src/state/context/AuthContext.tsx
Due: prettier --write, eslint

add distance calc from point
  frontend/src/app/client-pages/GeoFence.tsx
  frontend/src/components/nav/NavLinks.tsx
  frontend/src/data/navigation.json
Due: prettier --write, eslint

add distance calc from point test
  frontend/src/app/client-pages/GeoFence.tsx
  frontend/src/data/navigation.json
Due: prettier --write, eslint

add distance calc from point test
  frontend/src/app/client-pages/GeoFence.tsx
Due: prettier --write, eslint

change to effect
  frontend/src/app/client-pages/GeoFence.tsx
Due: prettier --write, eslint

add mobile nav sheet
  frontend/src/app/globals.css
  frontend/src/components/Navbar.tsx
  frontend/src/components/sheets/MenuSheet.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/sheet.tsx
  frontend/src/components/ui/toast.tsx
  frontend/src/data/navigation.json
Due: prettier --write, eslint

change position
  frontend/src/app/client-pages/GeoFence.tsx
Due: prettier --write, eslint

-m
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/animated/WavyText.tsx
  frontend/src/components/animated/home/FreeBadge.tsx
  frontend/src/components/animated/home/HeroContent.tsx
  frontend/src/components/home/Hero.tsx
  frontend/src/util/animation.ts
Due: prettier --write, eslint

change home animation and begin responsibility and task implementations
  backend/app/Controllers/Http/ResponsibilitiesController.ts
  backend/app/Controllers/Http/ResponsibilityCollaboratorsController.ts
  backend/app/Controllers/Http/TaskCollaboratorsController.ts
  backend/app/Controllers/Http/TaskFrequenciesController.ts
  backend/app/Controllers/Http/TaskHistoryController.ts
  backend/app/Controllers/Http/TasksController.ts
  backend/app/Models/Geofence.ts
  backend/app/Models/Responsibility.ts
  backend/app/Models/ResponsibilityCollaborator.ts
  backend/app/Models/Story.ts
  backend/app/Models/Task.ts
  backend/app/Models/TaskCollaborator.ts
  backend/app/Models/TaskFrequency.ts
  backend/app/Models/TaskHistory.ts
  backend/database/migrations/1699245071848_stories.ts
  backend/database/migrations/1699245112320_geofences.ts
  backend/database/migrations/1699504135130_responsibilities.ts
  backend/database/migrations/1699504141750_tasks.ts
  backend/database/migrations/1699504171246_responsibility_collaborators.ts
  backend/database/migrations/1699504201714_task_collaborators.ts
  backend/database/migrations/1699504229824_task_frequencies.ts
  backend/database/migrations/1699504282371_task_histories.ts
  frontend/src/components/animated/home/HeroContent.tsx
  frontend/src/components/home/Hero.tsx
Due: prettier --write, eslint

basic dashboard and task pages
  backend/app/Models/Responsibility.ts
  backend/app/Models/ResponsibilityCollaborator.ts
  backend/app/Models/Task.ts
  backend/app/Models/TaskCollaborator.ts
  backend/app/Models/TaskFrequency.ts
  backend/app/Models/TaskHistory.ts
  backend/database/migrations/1698375435676_users.ts
  backend/database/migrations/1699245071848_stories.ts
  backend/database/migrations/1699245112320_geofences.ts
  backend/database/migrations/1699504135130_responsibilities.ts
  backend/database/migrations/1699504141750_tasks.ts
  backend/database/migrations/1699504171246_responsibility_collaborators.ts
  backend/database/migrations/1699504201714_task_collaborators.ts
  backend/database/migrations/1699504229824_task_frequencies.ts
  backend/database/migrations/1699504282371_task_histories.ts
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/app/tasks/page.tsx
  frontend/src/app/tools/contribution-calc/page.tsx
  frontend/src/app/tools/geo-fence/page.tsx
  frontend/src/components/animated/WavyText.tsx
  frontend/src/components/animated/home/HeroContent.tsx
  frontend/src/components/context/Providers.tsx
  frontend/src/components/context/ThemeProvider.tsx
  frontend/src/components/dashboard/OverviewCard.tsx
  frontend/src/components/dashboard/TaskHistoryCard.tsx
  frontend/src/components/dashboard/UpcomingTasksCard.tsx
  frontend/src/components/sheets/MenuSheet.tsx
  frontend/src/components/tasks/ResponsibilitiesCard.tsx
  frontend/src/components/tasks/TasksCard.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/hooks/use-cookie.tsx
  frontend/src/state/context/AuthContext.tsx
  frontend/src/util/animation.ts
Due: prettier --write, eslint

animated button and Link components
  frontend/src/app/client-pages/GeoFence.tsx
  frontend/src/app/tools/geo-fence/page.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/components/animated/AnimatedLink.tsx
  frontend/src/components/animated/button.tsx
  frontend/src/components/animated/home/HeroContent.tsx
  frontend/src/components/dashboard/OverviewCard.tsx
  frontend/src/components/forms/ForgotPassword.tsx
  frontend/src/components/forms/LoginForm.tsx
  frontend/src/components/forms/SignupForm.tsx
  frontend/src/components/home/Hero.tsx
  frontend/src/components/sheets/MenuSheet.tsx
  frontend/src/components/ui/client/button.tsx
Due: prettier --write, eslint

implement auth dependent components on frontend
  backend/app/Controllers/Http/UsersController.ts
  backend/app/Models/User.ts
  backend/app/Strategies/CamelCase.ts
  backend/app/Validators/CreateUserValidator.ts
  backend/database/migrations/1698375435676_users.ts
  backend/start/routes.ts
  frontend/src/app/client-pages/Logout.tsx
  frontend/src/app/logout/page.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/components/animated/AnimatedLink.tsx
  frontend/src/components/animated/button.tsx
  frontend/src/components/context/Providers.tsx
  frontend/src/components/context/navbar/OpenSheetContext.tsx
  frontend/src/components/forms/LoginForm.tsx
  frontend/src/components/forms/SignupForm.tsx
  frontend/src/components/nav/NavButtons.tsx
  frontend/src/components/nav/NavLinks.tsx
  frontend/src/components/sheets/AccountSheet.tsx
  frontend/src/components/sheets/MenuSheet.tsx
  frontend/src/components/tasks/ResponsibilitiesCard.tsx
  frontend/src/components/tasks/TasksCard.tsx
  frontend/src/components/ui/client/button.tsx
  frontend/src/state/context/AuthContext.tsx
  frontend/src/types/Api.ts
  frontend/src/util/api.ts
  frontend/tailwind.config.js
Due: prettier --write, eslint

mobile sheets makeover
  frontend/src/app/client-pages/Logout.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/components/sheets/AccountSheet.tsx
  frontend/src/components/sheets/MenuSheet.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/sheet.tsx
Due: prettier --write, eslint

mobile sheets makeover
  frontend/src/app/client-pages/Logout.tsx
  frontend/src/components/sheets/MenuSheet.tsx
  frontend/src/components/ui/sheet.tsx
Due: prettier --write, eslint

mobile sheets makeover
  frontend/src/components/sheets/MenuSheet.tsx
  frontend/src/components/ui/sheet.tsx
Due: prettier --write, eslint

small user nickname entry animation
  frontend/src/components/sheets/AccountSheet.tsx
  frontend/src/components/sheets/MenuSheet.tsx
Due: prettier --write, eslint

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.tsx)) or (any of: *.css)
  eslint: (any of: *.ts) or (any of: *.tsx)
